In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.utils import ChromeType
from selenium.webdriver.support.ui import Select

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
import html5lib
from bs4 import BeautifulSoup
import os

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
# driver = webdriver.Chrome('chromedriver', chrome_options=chrome_options)

## Headless browser - without GUI Interface
# driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()),chrome_options=chrome_options)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\User\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [2]:
url = "https://www.mpta.org.mm/prices_list.php?div_id=KXKe7L772TihagFZHaC9f39I1cxevaPeEnNlvFSUrbY%3D"
driver.get(url)
print(driver.title)

Prices List - Myanmar Petroleum Trade Association

In [7]:

def save_page(filename , html_file):
    with open(os.path.join('./html/', "{}.html".format(filename)), "w", encoding='utf-8') as f:
        f.write(html_file)

In [8]:
## find Price dropdown list 

## Select method didn't work in here because of the element inside <a>
# select = Select(driver.find_element_by_class_name('form-control form-control-sm'))

## working Select method inside detailed page
# select = Select(driver.find_element_by_name("dtList_length"))
# select.select_by_value("100")

## try above Select method with xpath to change 100 rows/page
driver.find_element_by_xpath("//select[@name='dtList_length']/option[text()='100']").click()

max_number = 133
page_number = 0

page_no = []
while page_number < max_number:
    try:
        page_list = driver.find_element(By.CLASS_NAME,"pagination")
        element = WebDriverWait(driver, 20).until(EC.element_to_be_clickable(page_list.find_element(By.ID,"dtList_next")))
        print(element.get_attribute("class"))
        active_item = page_list.find_element(By.CLASS_NAME,"active")
        no = active_item.text
        if no:
            page_no.append(int(no))
        else:
            print("No Number!")
        html = driver.page_source
        save_page(no , html)
        element.click()
        print("After Click : " + str(page_number))
        time.sleep(5)
        page_number += 1
    except EC.NoSuchElementException:
        print("Something wrong!")
    # cls = driver.find_element(By.XPATH,xpath).click()
    # page_number += 1

C:\Users\User\AppData\Local\Temp\ipykernel_5920\2733488247.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//select[@name='dtList_length']/option[text()='100']").click()

paginate_button page-item next
After Click : 0
paginate_button page-item next
After Click : 1
paginate_button page-item next
After Click : 2
paginate_button page-item next
After Click : 3
paginate_button page-item next
After Click : 4
paginate_button page-item next
After Click : 5
paginate_button page-item next
After Click : 6
paginate_button page-item next
After Click : 7
paginate_button page-item next
After Click : 8
paginate_button page-item next
After Click : 9
paginate_button page-item next
After Click : 10
paginate_button page-item next
After Click : 11
paginate_button page-item next
After Click : 12
paginate_button page-item next
After Click : 13
paginate_button page-item next
After Click : 14
paginate_button page-item next
After Click : 15
paginate_button page-item next
After Click : 16
paginate_button page-item next
After Click : 17
paginate_button page-item next
After Click : 18
paginate_button page-item next
After Click : 19
paginate_button page-item next
After Click : 20
paginate_button page-item next
After Click : 21
paginate_button page-item next
After Click : 22
paginate_button page-item next
After Click : 23
paginate_button page-item next
After Click : 24
paginate_button page-item next
After Click : 25
paginate_button page-item next
After Click : 26
paginate_button page-item next
After Click : 27
paginate_button page-item next
After Click : 28
paginate_button page-item next
After Click : 29
paginate_button page-item next
After Click : 30
paginate_button page-item next
After Click : 31
paginate_button page-item next
After Click : 32
paginate_button page-item next
After Click : 33
paginate_button page-item next
After Click : 34
paginate_button page-item next
After Click : 35
paginate_button page-item next
After Click : 36
paginate_button page-item next
After Click : 37
paginate_button page-item next
After Click : 38
paginate_button page-item next
After Click : 39
paginate_button page-item next
After Click : 40
paginate_button page-item next
After Click : 41
paginate_button page-item next
After Click : 42
paginate_button page-item next
After Click : 43
paginate_button page-item next
After Click : 44
paginate_button page-item next
After Click : 45
paginate_button page-item next
After Click : 46
paginate_button page-item next
After Click : 47
paginate_button page-item next
After Click : 48
paginate_button page-item next
After Click : 49
paginate_button page-item next
After Click : 50
paginate_button page-item next
After Click : 51
paginate_button page-item next
After Click : 52
paginate_button page-item next
After Click : 53
paginate_button page-item next
After Click : 54
paginate_button page-item next
After Click : 55
paginate_button page-item next
After Click : 56
paginate_button page-item next
After Click : 57
paginate_button page-item next
After Click : 58
paginate_button page-item next
After Click : 59
paginate_button page-item next
After Click : 60
paginate_button page-item next
After Click : 61
paginate_button page-item next
After Click : 62
paginate_button page-item next
After Click : 63
paginate_button page-item next
After Click : 64
paginate_button page-item next
After Click : 65
paginate_button page-item next
After Click : 66
paginate_button page-item next
After Click : 67
paginate_button page-item next
After Click : 68
paginate_button page-item next
After Click : 69
paginate_button page-item next
After Click : 70
paginate_button page-item next
After Click : 71
paginate_button page-item next
After Click : 72
paginate_button page-item next
After Click : 73
paginate_button page-item next
After Click : 74
paginate_button page-item next
After Click : 75
paginate_button page-item next
After Click : 76
paginate_button page-item next
After Click : 77
paginate_button page-item next
After Click : 78
paginate_button page-item next
After Click : 79
paginate_button page-item next
After Click : 80
paginate_button page-item next
After Click : 81
paginate_button page-item next
After Click : 82
paginate_button page-item next
After Click : 83
paginate_button page-item next
After Click : 84
paginate_button page-item next
After Click : 85
paginate_button page-item next
After Click : 86
paginate_button page-item next
After Click : 87
paginate_button page-item next
After Click : 88
paginate_button page-item next
After Click : 89
paginate_button page-item next
After Click : 90
paginate_button page-item next
After Click : 91
paginate_button page-item next
After Click : 92
paginate_button page-item next
After Click : 93
paginate_button page-item next
After Click : 94
paginate_button page-item next
After Click : 95
paginate_button page-item next
After Click : 96
paginate_button page-item next
After Click : 97
paginate_button page-item next
After Click : 98
paginate_button page-item next
After Click : 99
paginate_button page-item next
After Click : 100
paginate_button page-item next
After Click : 101
paginate_button page-item next
After Click : 102
paginate_button page-item next
After Click : 103
paginate_button page-item next
After Click : 104
paginate_button page-item next
After Click : 105
paginate_button page-item next
After Click : 106
paginate_button page-item next
After Click : 107
paginate_button page-item next
After Click : 108
paginate_button page-item next
After Click : 109
paginate_button page-item next
After Click : 110
paginate_button page-item next
After Click : 111
paginate_button page-item next
After Click : 112
paginate_button page-item next
After Click : 113
paginate_button page-item next
After Click : 114
paginate_button page-item next
After Click : 115
paginate_button page-item next
After Click : 116
paginate_button page-item next
After Click : 117
paginate_button page-item next
After Click : 118
paginate_button page-item next
After Click : 119
paginate_button page-item next
After Click : 120
paginate_button page-item next
After Click : 121
paginate_button page-item next
After Click : 122
paginate_button page-item next
After Click : 123
paginate_button page-item next
After Click : 124
paginate_button page-item next
After Click : 125
paginate_button page-item next
After Click : 126
paginate_button page-item next
After Click : 127
paginate_button page-item next
After Click : 128
paginate_button page-item next
After Click : 129
paginate_button page-item next
After Click : 130
paginate_button page-item next
After Click : 131
paginate_button page-item next disabled
After Click : 132

In [13]:
## Read HTML file into Pandas Dataframes
## Append into SQLite DB 
## Ref - https://www.fullstackpython.com/blog/export-pandas-dataframes-sqlite-sqlalchemy.html

from sqlalchemy import create_engine
engine = create_engine('sqlite:///price.db', echo=True)
conn = engine.connect()
petroleum_table = "petrol"

from glob import glob
file_dir = glob('html/*.html')
for file in file_dir:
    name = os.path.basename(file).replace(".html", "_page")
    # print(name)
    try:
        df_table = pd.read_html(file, encoding='utf-8', attrs={'id':'dtList'})

        print(len(df_table))
        save_df = df_table[0]
        save_df.to_sql(petroleum_table, conn, if_exists='append')

    except:
        print("No table found on page {}".format(name))

1_page
1
2022-03-17 21:04:27,331 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,333 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,336 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("petrol")
2022-03-17 21:04:27,337 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,344 INFO sqlalchemy.engine.Engine
CREATE TABLE petrol (
	"index" BIGINT,
	"Srno." BIGINT,
	"Effective Date" TEXT,
	"Fuel Type" TEXT,
	"Price Type" TEXT,
	"Min" BIGINT,
	"Max" BIGINT
)


2022-03-17 21:04:27,346 INFO sqlalchemy.engine.Engine [no key 0.00172s] ()
2022-03-17 21:04:27,374 INFO sqlalchemy.engine.Engine COMMIT
2022-03-17 21:04:27,376 INFO sqlalchemy.engine.Engine CREATE INDEX ix_petrol_index ON petrol ("index")
2022-03-17 21:04:27,377 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2022-03-17 21:04:27,395 INFO sqlalchemy.engine.Engine COMMIT
2022-03-17 21:04:27,418 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,420 INFO sqlalchemy.engine.Engine [generated in 0.00352s] ((0, 1, '17-03-2022', '95 Ron', 'လက်လီ', 1925, 1995), (1, 2, '17-03-2022', '95 Ron', 'လက်ကား', 1730, 1920), (2, 3, '17-03-2022', '92 Ron', 'လက်လီ', 1850, 1915), (3, 4, '17-03-2022', '92 Ron', 'လက်ကား', 1730, 1820), (4, 5, '17-03-2022', '(50ppm) Premium Diesel', 'လက်လီ', 1835, 1915), (5, 6, '17-03-2022', '(50ppm) Premium Diesel', 'လက်ကား', 1740, 1900), (6, 7, '17-03-2022', '(500ppm) Diesel', 'လက်လီ', 1820, 1900), (7, 8, '17-03-2022', '(500ppm) Diesel', 'လက်ကား', 1730, 1890)  ... displaying 10 of 100 total bound parameter sets ...  (98, 99, '25-02-2022', '92 Ron', 'လက်လီ', 1680, 1755), (99, 100, '25-02-2022', '92 Ron', 'လက်ကား', 1610, 1680))
2022-03-17 21:04:27,424 INFO sqlalchemy.engine.Engine COMMIT
10_page
1
2022-03-17 21:04:27,476 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,478 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,483 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,484 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ((0, 901, '21-09-2021', '92 Ron', 'လက်လီ', 1205, 1215), (1, 902, '21-09-2021', '92 Ron', 'လက်ကား', 1180, 1180), (2, 903, '21-09-2021', '95 Ron', 'လက်လီ', 1230, 1255), (3, 904, '21-09-2021', '95 Ron', 'လက်ကား', 1210, 1210), (4, 905, '21-09-2021', '(50ppm) Premium Diesel', 'လက်လီ', 1205, 1220), (5, 906, '21-09-2021', '(50ppm) Premium Diesel', 'လက်ကား', 1190, 1190), (6, 907, '20-09-2021', '(50ppm) Premium Diesel', 'လက်လီ', 1205, 1220), (7, 908, '20-09-2021', '(50ppm) Premium Diesel', 'လက်ကား', 1200, 1200)  ... displaying 10 of 100 total bound parameter sets ...  (98, 999, '02-09-2021', '92 Ron', 'လက်ကား', 1040, 1040), (99, 1000, '02-09-2021', '92 Ron', 'လက်လီ', 1095, 1105))
2022-03-17 21:04:27,488 INFO sqlalchemy.engine.Engine COMMIT
100_page
1
2022-03-17 21:04:27,546 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,548 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,554 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,555 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ((0, 9901, '27-09-2016', '(50ppm) Premium Diesel', 'လက်ကား', 550, 555), (1, 9902, '27-09-2016', '(50ppm) Premium Diesel', 'လက်လီ', 580, 600), (2, 9903, '26-09-2016', '(50ppm) Premium Diesel', 'လက်ကား', 545, 555), (3, 9904, '26-09-2016', '(50ppm) Premium Diesel', 'လက်လီ', 580, 600), (4, 9905, '26-09-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 9906, '26-09-2016', '95 Ron', 'လက်လီ', 620, 640), (6, 9907, '26-09-2016', '(500ppm) Diesel', 'လက်ကား', 505, 509), (7, 9908, '26-09-2016', '(500ppm) Diesel', 'လက်လီ', 550, 570)  ... displaying 10 of 100 total bound parameter sets ...  (98, 9999, '07-09-2016', '(50ppm) Premium Diesel', 'လက်ကား', 532, 541), (99, 10000, '07-09-2016', '(50ppm) Premium Diesel', 'လက်လီ', 560, 580))
2022-03-17 21:04:27,560 INFO sqlalchemy.engine.Engine COMMIT
101_page
1
2022-03-17 21:04:27,629 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,631 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,637 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,638 INFO sqlalchemy.engine.Engine [generated in 0.00249s] ((0, 10001, '07-09-2016', '95 Ron', 'လက်ကား', 0, 0), (1, 10002, '07-09-2016', '95 Ron', 'လက်လီ', 610, 620), (2, 10003, '07-09-2016', '(500ppm) Diesel', 'လက်ကား', 490, 495), (3, 10004, '07-09-2016', '(500ppm) Diesel', 'လက်လီ', 530, 550), (4, 10005, '07-09-2016', '92 Ron', 'လက်ကား', 485, 485), (5, 10006, '07-09-2016', '92 Ron', 'လက်လီ', 520, 540), (6, 10007, '06-09-2016', '92 Ron', 'လက်ကား', 480, 485), (7, 10008, '06-09-2016', '92 Ron', 'လက်လီ', 520, 540)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10099, '22-08-2016', '(500ppm) Diesel', 'လက်ကား', 495, 495), (99, 10100, '22-08-2016', '(500ppm) Diesel', 'လက်လီ', 520, 540))
2022-03-17 21:04:27,645 INFO sqlalchemy.engine.Engine COMMIT
102_page
1
2022-03-17 21:04:27,703 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,704 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,711 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,712 INFO sqlalchemy.engine.Engine [generated in 0.00170s] ((0, 10101, '22-08-2016', '92 Ron', 'လက်ကား', 490, 495), (1, 10102, '22-08-2016', '92 Ron', 'လက်လီ', 520, 530), (2, 10103, '19-08-2016', '92 Ron', 'လက်ကား', 480, 487), (3, 10104, '19-08-2016', '92 Ron', 'လက်လီ', 520, 530), (4, 10105, '19-08-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 10106, '19-08-2016', '95 Ron', 'လက်လီ', 570, 620), (6, 10107, '19-08-2016', '(50ppm) Premium Diesel', 'လက်ကား', 532, 536), (7, 10108, '19-08-2016', '(50ppm) Premium Diesel', 'လက်လီ', 550, 570)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10199, '03-08-2016', '92 Ron', 'လက်ကား', 420, 430), (99, 10200, '03-08-2016', '92 Ron', 'လက်လီ', 530, 560))
2022-03-17 21:04:27,719 INFO sqlalchemy.engine.Engine COMMIT
103_page
1
2022-03-17 21:04:27,802 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,811 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,812 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ((0, 10201, '03-08-2016', '95 Ron', 'လက်ကား', 0, 0), (1, 10202, '03-08-2016', '95 Ron', 'လက်လီ', 630, 650), (2, 10203, '03-08-2016', '(50ppm) Premium Diesel', 'လက်ကား', 500, 509), (3, 10204, '03-08-2016', '(50ppm) Premium Diesel', 'လက်လီ', 570, 590), (4, 10205, '03-08-2016', '(500ppm) Diesel', 'လက်ကား', 459, 464), (5, 10206, '03-08-2016', '(500ppm) Diesel', 'လက်လီ', 540, 560), (6, 10207, '02-08-2016', '(500ppm) Diesel', 'လက်ကား', 459, 468), (7, 10208, '02-08-2016', '(500ppm) Diesel', 'လက်လီ', 540, 560)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10299, '15-07-2016', '(50ppm) Premium Diesel', 'လက်ကား', 532, 550), (99, 10300, '15-07-2016', '(50ppm) Premium Diesel', 'လက်လီ', 580, 600))
2022-03-17 21:04:27,822 INFO sqlalchemy.engine.Engine COMMIT
104_page
1
2022-03-17 21:04:27,916 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:27,918 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:27,930 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:27,931 INFO sqlalchemy.engine.Engine [generated in 0.00235s] ((0, 10301, '15-07-2016', '(500ppm) Diesel', 'လက်ကား', 491, 505), (1, 10302, '15-07-2016', '(500ppm) Diesel', 'လက်လီ', 550, 570), (2, 10303, '14-07-2016', '(500ppm) Diesel', 'လက်ကား', 491, 505), (3, 10304, '14-07-2016', '(500ppm) Diesel', 'လက်လီ', 550, 570), (4, 10305, '14-07-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 10306, '14-07-2016', '95 Ron', 'လက်လီ', 640, 650), (6, 10307, '14-07-2016', '92 Ron', 'လက်ကား', 465, 475), (7, 10308, '14-07-2016', '92 Ron', 'လက်လီ', 540, 570)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10399, '28-06-2016', '(500ppm) Diesel', 'လက်ကား', 500, 509), (99, 10400, '28-06-2016', '(500ppm) Diesel', 'လက်လီ', 540, 570))
2022-03-17 21:04:27,942 INFO sqlalchemy.engine.Engine COMMIT
105_page
1
2022-03-17 21:04:28,037 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,040 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,046 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,047 INFO sqlalchemy.engine.Engine [generated in 0.00239s] ((0, 10401, '28-06-2016', '95 Ron', 'လက်ကား', 0, 0), (1, 10402, '28-06-2016', '95 Ron', 'လက်လီ', 650, 650), (2, 10403, '28-06-2016', '92 Ron', 'လက်ကား', 500, 515), (3, 10404, '28-06-2016', '92 Ron', 'လက်လီ', 560, 570), (4, 10405, '28-06-2016', '(50ppm) Premium Diesel', 'လက်ကား', 541, 555), (5, 10406, '28-06-2016', '(50ppm) Premium Diesel', 'လက်လီ', 570, 600), (6, 10407, '27-06-2016', '(50ppm) Premium Diesel', 'လက်ကား', 541, 555), (7, 10408, '27-06-2016', '(50ppm) Premium Diesel', 'လက်လီ', 570, 600)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10499, '10-06-2016', '92 Ron', 'လက်ကား', 525, 530), (99, 10500, '10-06-2016', '92 Ron', 'လက်လီ', 560, 570))
2022-03-17 21:04:28,053 INFO sqlalchemy.engine.Engine COMMIT
106_page
1
2022-03-17 21:04:28,136 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,146 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,148 INFO sqlalchemy.engine.Engine [generated in 0.00329s] ((0, 10501, '10-06-2016', '(50ppm) Premium Diesel', 'လက်ကား', 545, 564), (1, 10502, '10-06-2016', '(50ppm) Premium Diesel', 'လက်လီ', 550, 580), (2, 10503, '09-06-2016', '(50ppm) Premium Diesel', 'လက်ကား', 545, 564), (3, 10504, '09-06-2016', '(50ppm) Premium Diesel', 'လက်လီ', 550, 570), (4, 10505, '09-06-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 10506, '09-06-2016', '95 Ron', 'လက်လီ', 640, 650), (6, 10507, '09-06-2016', '(500ppm) Diesel', 'လက်ကား', 514, 518), (7, 10508, '09-06-2016', '(500ppm) Diesel', 'လက်လီ', 520, 545)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10599, '24-05-2016', '(50ppm) Premium Diesel', 'လက်ကား', 514, 532), (99, 10600, '24-05-2016', '(50ppm) Premium Diesel', 'လက်လီ', 530, 570))
2022-03-17 21:04:28,152 INFO sqlalchemy.engine.Engine COMMIT
107_page
1
2022-03-17 21:04:28,228 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,229 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,235 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,237 INFO sqlalchemy.engine.Engine [generated in 0.00302s] ((0, 10601, '24-05-2016', '95 Ron', 'လက်ကား', 0, 0), (1, 10602, '24-05-2016', '95 Ron', 'လက်လီ', 640, 650), (2, 10603, '24-05-2016', '(500ppm) Diesel', 'လက်ကား', 477, 486), (3, 10604, '24-05-2016', '(500ppm) Diesel', 'လက်လီ', 490, 530), (4, 10605, '24-05-2016', '92 Ron', 'လက်ကား', 490, 495), (5, 10606, '24-05-2016', '92 Ron', 'လက်လီ', 540, 570), (6, 10607, '23-05-2016', '92 Ron', 'လက်ကား', 495, 495), (7, 10608, '23-05-2016', '92 Ron', 'လက်လီ', 540, 560)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10699, '06-05-2016', '(500ppm) Diesel', 'လက်ကား', 436, 445), (99, 10700, '06-05-2016', '(500ppm) Diesel', 'လက်လီ', 470, 500))
2022-03-17 21:04:28,244 INFO sqlalchemy.engine.Engine COMMIT
108_page
1
2022-03-17 21:04:28,312 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,315 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,321 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,322 INFO sqlalchemy.engine.Engine [generated in 0.00256s] ((0, 10701, '06-05-2016', '92 Ron', 'လက်ကား', 480, 485), (1, 10702, '06-05-2016', '92 Ron', 'လက်လီ', 530, 550), (2, 10703, '05-05-2016', '92 Ron', 'လက်ကား', 480, 485), (3, 10704, '05-05-2016', '92 Ron', 'လက်လီ', 530, 550), (4, 10705, '05-05-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 10706, '05-05-2016', '95 Ron', 'လက်လီ', 640, 650), (6, 10707, '05-05-2016', '(50ppm) Premium Diesel', 'လက်ကား', 477, 491), (7, 10708, '05-05-2016', '(50ppm) Premium Diesel', 'လက်လီ', 510, 540)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10799, '07-04-2016', '92 Ron', 'လက်ကား', 445, 455), (99, 10800, '07-04-2016', '92 Ron', 'လက်လီ', 530, 550))
2022-03-17 21:04:28,332 INFO sqlalchemy.engine.Engine COMMIT
109_page
1
2022-03-17 21:04:28,418 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,419 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,427 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,428 INFO sqlalchemy.engine.Engine [generated in 0.00268s] ((0, 10801, '07-04-2016', '95 Ron', 'လက်ကား', 0, 0), (1, 10802, '07-04-2016', '95 Ron', 'လက်လီ', 630, 650), (2, 10803, '07-04-2016', '(50ppm) Premium Diesel', 'လက်ကား', 432, 450), (3, 10804, '07-04-2016', '(50ppm) Premium Diesel', 'လက်လီ', 510, 540), (4, 10805, '07-04-2016', '(500ppm) Diesel', 'လက်ကား', 391, 400), (5, 10806, '07-04-2016', '(500ppm) Diesel', 'လက်လီ', 470, 500), (6, 10807, '06-04-2016', '(500ppm) Diesel', 'လက်ကား', 391, 405), (7, 10808, '06-04-2016', '(500ppm) Diesel', 'လက်လီ', 470, 500)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10899, '21-03-2016', '(50ppm) Premium Diesel', 'လက်ကား', 460, 468), (99, 10900, '21-03-2016', '(50ppm) Premium Diesel', 'လက်လီ', 510, 520))
2022-03-17 21:04:28,432 INFO sqlalchemy.engine.Engine COMMIT
11_page
1
2022-03-17 21:04:28,483 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,485 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,493 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,494 INFO sqlalchemy.engine.Engine [generated in 0.00286s] ((0, 1001, '02-09-2021', '(500ppm) Diesel', 'လက်ကား', 1030, 1030), (1, 1002, '02-09-2021', '(500ppm) Diesel', 'လက်လီ', 1040, 1060), (2, 1003, '02-09-2021', '95 Ron', 'လက်ကား', 1070, 1070), (3, 1004, '02-09-2021', '95 Ron', 'လက်လီ', 1115, 1155), (4, 1005, '01-09-2021', '95 Ron', 'လက်လီ', 1115, 1145), (5, 1006, '01-09-2021', '95 Ron', 'လက်ကား', 1070, 1070), (6, 1007, '01-09-2021', '92 Ron', 'လက်လီ', 1095, 1105), (7, 1008, '01-09-2021', '92 Ron', 'လက်ကား', 1040, 1040)  ... displaying 10 of 100 total bound parameter sets ...  (98, 1099, '16-08-2021', '95 Ron', 'လက်လီ', 1105, 1135), (99, 1100, '16-08-2021', '95 Ron', 'လက်ကား', 1080, 1080))
2022-03-17 21:04:28,499 INFO sqlalchemy.engine.Engine COMMIT
110_page
1
2022-03-17 21:04:28,573 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,574 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,583 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,591 INFO sqlalchemy.engine.Engine [generated in 0.00926s] ((0, 10901, '21-03-2016', '(500ppm) Diesel', 'လက်ကား', 420, 423), (1, 10902, '21-03-2016', '(500ppm) Diesel', 'လက်လီ', 470, 480), (2, 10903, '18-03-2016', '(500ppm) Diesel', 'လက်ကား', 423, 427), (3, 10904, '18-03-2016', '(500ppm) Diesel', 'လက်လီ', 470, 480), (4, 10905, '18-03-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 10906, '18-03-2016', '95 Ron', 'လက်လီ', 630, 650), (6, 10907, '18-03-2016', '92 Ron', 'လက်ကား', 495, 500), (7, 10908, '18-03-2016', '92 Ron', 'လက်လီ', 520, 540)  ... displaying 10 of 100 total bound parameter sets ...  (98, 10999, '01-03-2016', '(500ppm) Diesel', 'လက်ကား', 377, 377), (99, 11000, '01-03-2016', '(500ppm) Diesel', 'လက်လီ', 460, 480))
2022-03-17 21:04:28,603 INFO sqlalchemy.engine.Engine COMMIT
111_page
1
2022-03-17 21:04:28,694 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,695 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,702 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,703 INFO sqlalchemy.engine.Engine [generated in 0.00225s] ((0, 11001, '01-03-2016', '95 Ron', 'လက်ကား', 0, 0), (1, 11002, '01-03-2016', '95 Ron', 'လက်လီ', 630, 650), (2, 11003, '01-03-2016', '92 Ron', 'လက်ကား', 430, 430), (3, 11004, '01-03-2016', '92 Ron', 'လက်လီ', 520, 530), (4, 11005, '01-03-2016', '(50ppm) Premium Diesel', 'လက်ကား', 418, 423), (5, 11006, '01-03-2016', '(50ppm) Premium Diesel', 'လက်လီ', 500, 520), (6, 11007, '29-02-2016', '(50ppm) Premium Diesel', 'လက်ကား', 414, 423), (7, 11008, '29-02-2016', '(50ppm) Premium Diesel', 'လက်လီ', 500, 520)  ... displaying 10 of 100 total bound parameter sets ...  (98, 11099, '11-02-2016', '92 Ron', 'လက်ကား', 440, 460), (99, 11100, '11-02-2016', '92 Ron', 'လက်လီ', 520, 550))
2022-03-17 21:04:28,713 INFO sqlalchemy.engine.Engine COMMIT
112_page
1
2022-03-17 21:04:28,817 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,824 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-17 21:04:28,826 INFO sqlalchemy.engine.Engine [generated in 0.00211s] ((0, 11101, '11-02-2016', '(50ppm) Premium Diesel', 'လက်ကား', 405, 425), (1, 11102, '11-02-2016', '(50ppm) Premium Diesel', 'လက်လီ', 510, 520), (2, 11103, '10-02-2016', '(50ppm) Premium Diesel', 'လက်ကား', 405, 427), (3, 11104, '10-02-2016', '(50ppm) Premium Diesel', 'လက်လီ', 510, 520), (4, 11105, '10-02-2016', '95 Ron', 'လက်ကား', 0, 0), (5, 11106, '10-02-2016', '95 Ron', 'လက်လီ', 630, 660), (6, 11107, '10-02-2016', '(500ppm) Diesel', 'လက်ကား', 365, 382), (7, 11108, '10-02-2016', '(500ppm) Diesel', 'လက်လီ', 460, 480)  ... displaying 10 of 100 total bound parameter sets ...  (98, 11199, '25-01-2016', '(50ppm) Premium Diesel', 'လက်ကား', 373, 373), (99, 11200, '25-01-2016', '(50ppm) Premium Diesel', 'လက်လီ', 460, 480))
2022-03-17 21:04:28,853 INFO sqlalchemy.engine.Engine COMMIT
113_page
1
2022-03-17 21:04:28,925 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("petrol")
2022-03-17 21:04:28,926 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-17 21:04:28,934 INFO sqlalchemy.engine.Engine INSERT INTO petrol ("index", "Srno.", "Effective Date", "Fuel Type", "Price Type", "Min", "Max") VALUES (?, ?, ?, ?, ?, ?, ?)