In [1]:
import pandas as pd 
import numpy as np

In [32]:
chunker = pd.read_csv('D:\Datasets\wfp_food_prices_myanmar.csv', nrows=100)
print(chunker.shape)
chunker.drop([0], inplace=True)
print(chunker.shape)

(100, 17)
(99, 17)

In [22]:
print(chunker.dtypes)

date         object
cmname       object
unit         object
category     object
price        object
currency     object
country      object
admname      object
adm1id       object
mktname      object
mktid       float64
cmid         object
ptid        float64
umid        float64
catid        object
sn           object
default     float64
dtype: object

In [33]:
chunker.loc[:, 'category'] = chunker.select_dtypes(['object']).apply(lambda x: x.astype('category'))
print(chunker.dtypes)

date          object
cmname        object
unit          object
category    category
price         object
currency      object
country       object
admname       object
adm1id        object
mktname       object
mktid        float64
cmid          object
ptid         float64
umid         float64
catid         object
sn            object
default      float64
dtype: object

In [34]:
chunker.category.value_counts()

cereals and tubers    60
oil and fats          35
pulses and nuts        4
Name: category, dtype: int64

In [44]:
chunker['date'].isnull().sum()
chunker.date.value_counts().sort_index()

## convert date column into Y-m-d format
chunker['convert_date'] = pd.to_datetime(chunker.date, format= '%Y-%m-%d')
#chunker.dtypes
chunker.convert_date.describe()

<ipython-input-44-1d6b4020d2be>:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  chunker.convert_date.describe()

count                      99
unique                     36
top       2010-02-15 00:00:00
freq                        3
first     2008-01-15 00:00:00
last      2011-01-15 00:00:00
Name: convert_date, dtype: object

In [23]:
chunker.loc[:, chunker.dtypes == 'object'] = chunker.select_dtypes(['object']).apply(lambda x:x.astype('category'))

In [24]:
chunker.dtypes

date        category
cmname      category
unit        category
category    category
price       category
currency    category
country     category
admname     category
adm1id      category
mktname     category
mktid        float64
cmid        category
ptid         float64
umid         float64
catid       category
sn          category
default      float64
dtype: object

In [26]:
catcols = chunker.select_dtypes(include=['category']).columns
chunker[catcols].isnull().sum()

date        0
cmname      0
unit        0
category    0
price       0
currency    0
country     0
admname     0
adm1id      0
mktname     0
cmid        0
catid       0
sn          0
dtype: int64

In [28]:
chunker.category.value_counts(sort=False)

cereals and tubers    60
oil and fats          35
pulses and nuts        4
Name: category, dtype: int64

In [30]:
chunker.describe()

       mktid  ptid       umid  default
count   99.0  99.0  99.000000      0.0
mean   977.0  15.0   8.535354      NaN
std      0.0   0.0   4.805000      NaN
min    977.0  15.0   5.000000      NaN
25%    977.0  15.0   5.000000      NaN
50%    977.0  15.0   5.000000      NaN
75%    977.0  15.0  15.000000      NaN
max    977.0  15.0  15.000000      NaN